@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 200%);
  background-repeat: no-repeat;
}
